@import "tailwindcss";

@font-face {
    font-family: 'Alata';
    src: url('../assets/fonts/Alata/Alata-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@theme{
    --font-sans: "JosefinSans";
    --font-alata: "Alata";

    --text-base: 15px;

    --breakpoint-mobile: 375px;
    --breakpoint-desktop: 1440px;

    --color-white: hsl(0, 100%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-grey-200: hsl(0, 0%, 85%);

}

@layer base {
    li{
        @apply transition-all duration-300 ease-in-out; 
    }
    li:hover{
        @apply text-grey-200 cursor-pointer;
    }
}

@layer components {
    #card-collection {
        @apply flex flex-row flex-wrap gap-6 justify-center;
    }
    #card-collection article {
        @apply relative 
        transition-all duration-300 ease-in-out;
    }
    #card-collection article:hover{
        @apply cursor-pointer
        -translate-y-2 shadow-4xl;
    }
    #card-collection figure {
        @apply w-full h-full -z-10;
    }
    #card-collection h3 {
        @apply text-white uppercase text-3xl absolute bottom-0 py-7 px-12 bg-gradient-to-t from-black/70 to-transparent;
    }
}

